*{
	margin: 0;
  padding: 0;
  background:rgba(0,0,0,1); /* black background */
}
.nocursor {
    cursor: none;
    display: grid;
    height: 100%;
}

.center-fit {
    max-width: 100%;
    max-height: 100vh;
    margin: auto;
}

.wholepageBlack{
  height: 100%;
  width: 100%;
}

.bottomLeft {
  position: fixed;
  top: 85%;
  left: 10%;
}

.topRight {
  position: fixed;
  top: 15%;
  left: 85%;
}