* {
    margin:0;
    padding:0;
}

.content {
  min-height: calc(100vh - 80px);
  background-color: #efefef;
  font-family: Ubuntu;
  top: 0; 
  left: 0;
  
  padding-left: 7px;
  padding-right: 7px;
}

footer {
  height: 80px;
  background-color: #d9d9d9;
  text-align: center;
  font-family: Ubuntu;
}

.buttonHolder{ 
  text-align: center; 
}