*{
  margin: 0;
  padding: 0;
  background:rgba(0,0,0,1); /* black background */
}
.nocursor {
    cursor: none;
    display: grid;
    height: 100%;
}
#leftSpiral {
  position: relative;
  width: 50%;
  float: left;
  height: 100%;
}

#rightSpiral{
  position: relative;
  width: 50%;
  float: left;
  height: 100%;

}

.redistribute {
    max-width: 100%;
    max-height: 100%;
    margin: auto;
}

.center-fit {
    max-width: 50%;
    max-height: 50vh;
    margin: auto;
}

.wholepageBlack{
  height: 100%;
  width: 100%;
}

.bottomLeft {
  position: fixed;
  bottom: 20%;
  left: 20%;
  max-height: 100%;
  max-width: 100%;
  margin: 0 auto;
  padding: 0;
}

.topRight {
  position: fixed;
  top: 20%;
  right: 20%;
  max-height: 100%;
  max-width: 100%;
  margin: 0 auto;
  padding: 0;
}