<div class="wholepage">

<h2 style="color: red; text-align:center;">Website under construction</h2>

<h2 style="text-align:center;">Welcome to the factors of attraction experiment! </h2>

<p>Instructions: </p>

<p>On the next screen, it will be displayed an X on a white background for 5 seconds. Your task is to pay attention to it. (the cursor of the mouse will disappear)</p>

<p>Then automatically after the 5 seconds, the X will disappear of the screen and we ask you to put the X at the same position where it was displayed.</p>

<p>After that, please click the submit button. (When you feel it's the same position) </p>

<p>More info: you are able to click multiple times, but the position will only be saved after clicking the submit button. </p>

<p>Click the button below to start the experiment. </p>

<input type="image" class="centered" src="./assets/start.png" (click)="btnClick();"/>
</div>

<div class="footer">
	<hr style="position:relative; top: -20px;">
	Experiment designed by <a href="https://people.ceu.edu/christophe_heintz" style="text-decoration:none; color: black;">Christophe Heintz</a><br>
	Website created by Renan Moreira © 2018 
	<a href="https://github.com/RenanOm92/xclick">
		<img src="./assets/github-logo.png" alt="github-logo"/>
	</a>
</div>

