<div class="content">

	<h2 style="text-align:center;">Welcome to the factors of attraction experiment! </h2>

	<br><br>

	<p>Thank you for playing our cross-location game. We will use the data collected to understand better some aspects of human cognition.</p>

	<br>

	<p>Your data will be recorded with the only purpose of scientific studies.</p>

	<br>

	<form #emailForm="ngForm" (submit)="onSubmit(emailForm)">
	    <label for="email">
			For proceeding with the experiment, please enter your e-mail: 
		</label>
	    
	    <input type="email" [(ngModel)]="email" id="email" name="email" required [pattern]="emailPattern" #offEmail="ngModel">
	    
	    <div *ngIf="offEmail.errors && emailForm.submitted && !isValidFormSubmitted" [ngClass] = "'error'"> 
	        <div *ngIf="offEmail.errors.required"> 
			    <span style="color: red;">Email required.</span>
		    </div>			   
	        <div *ngIf="offEmail.errors.pattern"> 
			    <span style="color: red;">Email not valid.</span>
		    </div>	
	    </div>

	    <br><br>

	    <p>Click the button below to go to the instructions. </p>

	    <br>

	    <div class="buttonHolder">
			<input type="image" alt="Submit" name="submit" src="./assets/instructions.png" />
		</div>		
	</form>

</div>

<footer>
	<hr style=" position:relative; top: 2px;">
	<br>
	Experiment designed by <a href="https://people.ceu.edu/christophe_heintz" style="text-decoration:none; color: black;">Christophe Heintz</a>
	<br>
	Website created by Renan Moreira © 2018 
	<a href="https://github.com/RenanOm92/factorsAttractionFirebase">
		<img src="./assets/github-logo.png" alt="github-logo"/>
	</a>
</footer>
