<div class="content">

	<h3>Instructions: </h3>

	<p>1. On the next screen, it will be displayed an X on a white background for 1 second. Your task is to pay attention to it. (the cursor of the mouse will disappear)</p>

	<p>2. Then automatically after 1 second, the X will disappear of the screen and there will be a fill-out screen for 0.5 sec. </p>

	<p>3. After that, there will be a white background screen where you should put the X at the same position where it was displayed before, please use the cursor of your mouse or the touchscreen of your cellphone.</p>

	<p>4. After that, please click the submit button. You will be redirected to this page (instructions page) where you can play again.</p>

	<p>Click the button below to start the experiment. </p>

	<div class="buttonHolder">
		<input type="image" src="./assets/start.png" (click)="btnClick();"/>
	</div>
</div>

<footer>
	<hr style=" position:relative; top: 2px;">
	<br>
	Experiment designed by <a href="https://people.ceu.edu/christophe_heintz" style="text-decoration:none; color: black;">Christophe Heintz</a>
	<br>
	Website created by Renan Moreira © 2018 
	<a href="https://github.com/RenanOm92/factorsAttractionFirebase">
		<img src="./assets/github-logo.png" alt="github-logo"/>
	</a>
</footer>

