<div class="content">

	<h3>Instructions: </h3>

	<br><br>

	<p>A cross on the screen will be displayed for one second. Your task is to replace the cross after it disappears.</p>

	<br>

	<p>You can do that using your cursor or the touchscreen. Click the submit button to see how close your guess was.</p>

	<br>

	<p>You can replay the game as many times as you want, and check if you become better with time.</p>

	<br>

	<div class="buttonHolder">
		<input type="image" src="./assets/start.png" (click)="btnClick();"/>
	</div>
</div>

<footer>
	<hr style=" position:relative; top: 2px;">
	<br>
	Experiment designed by <a href="https://people.ceu.edu/christophe_heintz" style="text-decoration:none; color: black;">Christophe Heintz</a>
	<br>
	Website created by Renan Moreira © 2018 
	<a href="https://github.com/RenanOm92/factorsAttractionFirebase">
		<img src="./assets/github-logo.png" alt="github-logo"/>
	</a>
</footer>

