<div class="content">

	<h3>Instructions: </h3>

	<br><br>

	<p>1. On the next screen, it will be displayed an X for 1 second. Please play attention to it's position because you will need to answer later. (the cursor of the mouse will disappear)</p>

	<br>

	<p>2. The X will disappear of the screen and then it's your time to answer the location of the X. Please use the cursor of your mouse or the touchscreen of your cellphone.</p>

	<br>

	<p>3. Lastly, please click the submit button. You will be redirected to here (instructions page) where you can play again. Thank you for your participation!</p>

	<br>

	<p>Click the button below to start the experiment :) </p>

	<br>

	<div class="buttonHolder">
		<input type="image" src="./assets/start.png" (click)="btnClick();"/>
	</div>
</div>

<footer>
	<hr style=" position:relative; top: 2px;">
	<br>
	Experiment designed by <a href="https://people.ceu.edu/christophe_heintz" style="text-decoration:none; color: black;">Christophe Heintz</a>
	<br>
	Website created by Renan Moreira © 2018 
	<a href="https://github.com/RenanOm92/factorsAttractionFirebase">
		<img src="./assets/github-logo.png" alt="github-logo"/>
	</a>
</footer>

