.centered {
  position: fixed;
  top: 50%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
}

.wholepage{
	background-color: #efefef;
	width: 100%;
	height: 100%;
	position: absolute; 
	top: 0; 
	left: 0;
	font-family: Ubuntu;
}

.footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: #d9d9d9;
  text-align: center;
  font-family: Ubuntu;
}